<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.web.mapper.GoodContentMapper">
  <resultMap id="BaseResultMap" type="com.my.blog.core.entity.GoodContent">
    <id column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="content_id" jdbcType="VARCHAR" property="contentId" />
    <result column="good_time" jdbcType="TIMESTAMP" property="goodTime" />
  </resultMap>
  
   <resultMap id="gcmap" type="com.my.blog.core.entity.GoodContent">
    <id column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="content_id" jdbcType="VARCHAR" property="contentId" />
    <result column="good_time" jdbcType="TIMESTAMP" property="goodTime" />
    <collection property="content" column="content_id" select="com.my.blog.web.mapper.ContentMapper.selectByPrimaryKey">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tiele" jdbcType="VARCHAR" property="tiele" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="category_id" jdbcType="INTEGER" property="category_id" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="pageview" jdbcType="VARCHAR" property="pageview" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    
    
    </collection>
    
  </resultMap>
  <sql id="Base_Column_List">
    good_id, content_id, good_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goodcontent
    where good_id = #{goodId,jdbcType=INTEGER}
  </select>
  <select id="selectGoodContent" resultMap="gcmap">
  select * from t_goodcontent order by good_time desc limit 0,3;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goodcontent
    where good_id = #{goodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.my.blog.core.entity.GoodContent">
    insert into t_goodcontent (good_id, content_id, good_time
      )
    values (#{goodId,jdbcType=INTEGER}, #{contentId,jdbcType=VARCHAR}, #{goodTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.my.blog.core.entity.GoodContent">
    insert into t_goodcontent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        good_id,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="goodTime != null">
        good_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="goodTime != null">
        #{goodTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.blog.core.entity.GoodContent">
    update t_goodcontent
    <set>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="goodTime != null">
        good_time = #{goodTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.blog.core.entity.GoodContent">
    update t_goodcontent
    set content_id = #{contentId,jdbcType=VARCHAR},
      good_time = #{goodTime,jdbcType=TIMESTAMP}
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
</mapper>